=begin
#Dependency-Track API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 3.8.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module DependencyTracker
  class CalculatorApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns the CVSS base score, impact sub-score and exploitability sub-score
    # @param vector [String] A valid CVSSv2 or CVSSv3 vector
    # @param [Hash] opts the optional parameters
    # @return [Score]
    def get_cvss_scores(vector, opts = {})
      data, _status_code, _headers = get_cvss_scores_with_http_info(vector, opts)
      data
    end

    # Returns the CVSS base score, impact sub-score and exploitability sub-score
    # @param vector [String] A valid CVSSv2 or CVSSv3 vector
    # @param [Hash] opts the optional parameters
    # @return [Array<(Score, Integer, Hash)>] Score data, response status code and response headers
    def get_cvss_scores_with_http_info(vector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalculatorApi.get_cvss_scores ...'
      end
      # verify the required parameter 'vector' is set
      if @api_client.config.client_side_validation && vector.nil?
        fail ArgumentError, "Missing the required parameter 'vector' when calling CalculatorApi.get_cvss_scores"
      end
      # resource path
      local_var_path = '/v1/calculator/cvss'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'vector'] = vector

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Score' 

      # auth_names
      auth_names = opts[:auth_names] || ['X-Api-Key']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalculatorApi#get_cvss_scores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
